/* default css start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* default css end */

/* navbar regular css start */

.navbar-area {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 5px;
}

a.site-logo:hover {
  color: white;
  text-decoration: none;
}

.site-navbar {
  height: 61px;
}

.site-navbar .navbar-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar .navbar-ul .navbar-li .navbar-link {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar-li .admin-menu .admin-menu-link {
  list-style: none;
}

.navbar-li .user-menu .user-menu-link {
  list-style: none;
}

.logout-span {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}

/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css end */

/* desktop breakpoint start */

@media screen and (min-width: 768px) {
  .admin-menu {
    position: absolute;
    min-width: 160px;
    max-width: 180px;
    display: none;
    z-index: 30;
  }

  .admin-menu-link {
    padding: 8px;
    border: 1px solid white;
    background-color: black;
  }

  .admin-menu-link a {
    text-transform: uppercase;
    color: white !important;
  }

  .admin-menu-link a:hover {
    text-decoration: none;
    color: white !important;
  }

  .admin-menu-visible {
    display: block;
  }

  .user-menu {
    position: absolute;
    min-width: 160px;
    max-width: 180px;
    display: none;
    z-index: 30;
  }

  .user-menu-link {
    padding: 8px;
    border: 1px solid white;
    background-color: black;
  }

  .user-menu-link a {
    text-transform: uppercase;
    color: white !important;
  }

  .user-menu-visible {
    display: block;
  }
}

/* desktop breakpoint end */

/* mobile breakpoint start */

@media screen and (max-width: 767px) {
  .navbar-container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .navbar-area {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }
  .site-navbar {
    /* min-height: 60px; */
    height: 61px;
  }
  .site-navbar .navbar-ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 59px);
    left: 0;
    top: 59px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar .navbar-ul .navbar-li {
    width: 100%;
    text-align: center;
  }
  .site-navbar .navbar-ul .navbar-li .navbar-link {
    padding: 25px;
    background-color: black;
    color: white;
    letter-spacing: 2px;
  }
  .site-navbar .navbar-ul .navbar-li .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar .navbar-ul.open {
    max-height: 100vh;
    overflow: scroll;
  }
  .admin-menu {
    position: relative;
    width: 100%;
    display: none;
    z-index: 30;
  }

  .admin-menu-visible {
    flex-direction: column;
    display: flex;
  }

  .admin-menu-link {
    padding: 16px 0px;
    border: 1px solid white;
  }

  .admin-menu-link a {
    text-transform: uppercase;
    color: white !important;
  }

  .admin-menu-link a:hover {
    text-decoration: none;
    color: white !important;
  }

  .user-menu {
    position: relative;
    width: 100%;
    display: none;
    z-index: 30;
  }

  .user-menu-visible {
    flex-direction: column;
    display: flex;
  }

  .user-menu-link {
    padding: 16px 0px;
    border: 1px solid white;
  }

  .user-menu-link a {
    text-transform: uppercase;
    color: white !important;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */
